[submodule "vim-coffee-script"]
	path = vim-coffee-script
	url = https://github.com/kchmck/vim-coffee-script.git
[submodule "tabular"]
	path = tabular
	url = https://github.com/godlygeek/tabular.git
[submodule "vim-endwise"]
	path = vim-endwise
	url = https://github.com/tpope/vim-endwise.git
[submodule "vim-indent-guides"]
	path = vim-indent-guides
  url = https://github.com/nathanaelkane/vim-indent-guides.git
[submodule "vim-irblack"]
	path = vim-irblack
	url = https://johnantoni@github.com/johnantoni/vim-irblack.git
[submodule "grb256"]
	path = grb256
	url = https://johnantoni@github.com/johnantoni/grb256.git
[submodule "vim-less"]
	path = vim-less
	url = git://github.com/groenewege/vim-less.git

